SECRET_KEY='{{ secret_key }}'
SEVERITY_MAP = {
    'security': 0,
    'critical': 1,
    'major': 2,
    'minor': 3,
    'warning': 4,
    'informational': 5,
    'debug': 5,
    'trace': 5,
    'indeterminate': 5,
    'cleared': 9,
    'ok': 9,
    'normal': 9,
    'unknown': 10
}
DEFAULT_NORMAL_SEVERITY = 'ok'
COLOR_MAP = {
    'severity': {
        'security': 'black',
        'critical': 'red',
        'major': 'red',
        'minor': '#1E90FF',
        'warning': '#1E90FF',
        'informational': 'grey',
        'debug': 'purple',
        'trace': 'grey',
        'indeterminate': 'lightblue',
        'cleared': '#00CC00',
        'ok': '#00CC00',
        'normal': '#00CC00',
        'unknown': 'silver'
    }
}
PLUGINS=['reject']
ALLOWED_ENVIRONMENTS=['Production', 'Development', 'Staging']
