DEBUG = {% if debug is defined %}{{ debug }}{% else %}False{% endif %}
AUTH_REQUIRED = {% if auth_required is defined %}{{ auth_required }}{% else %}True{% endif %}
SECRET_KEY = "{{ secret_key }}"
ADMIN_USERS = [{% if user is defined %}"{{ user }}"{% endif %}]
SIGNUP_ENABLED = {% if signup_enabled is defined %}{{ signup_enabled }}{% else %}True{% endif %}
SEVERITY_MAP = {
    'security': 0,
    'critical': 1,
    'major': 2,
    'minor': 3,
    'warning': 4,
    'informational': 5,
    'debug': 5,
    'trace': 5,
    'indeterminate': 5,
    'cleared': 9,
    'ok': 9,
    'normal': 9,
    'unknown': 10
}
COLOR_MAP = {
    'severity': {
        'security': '#a6a6a6',
        'critical': '#ff7373',
        'major': '#ff7373',
        'minor': '#78bcff',
        'warning': '#ffd18c',
        'informational': '#78bcff',
        'debug': '#ba8cba',
        'trace': '#1E90FF',
        'indeterminate': '#78bcff',
        'cleared': '#73e373',
        'ok': '#73e373',
        'normal': '#73e373',
        'unknown': '#e6e6e6'
    }
}
DATE_FORMAT_LONG_DATE = 'DD.MM.YYYY HH:mm:ss.sss'
DATE_FORMAT_MEDIUM_DATE = 'DD.MM.YYYY HH:mm:ss'
DATE_FORMAT_SHORT_TIME = 'HH:mm'
COLUMNS = [{% if columns | length %}{{ columns }}{% endif %}]
SORT_LIST_BY = 'lastReceiveTime'
PLUGINS = [{% if plugins | length %}{{ plugins }}{% endif %}]
ALLOWED_ENVIRONMENTS = [{% if environments | length %}{{ environments }}{% else %}'Development'{% endif %}]
{% if settings is defined %}{% for key, value in settings.items() %}
{{ key }} = {{ value }}
{% endfor %}{% endif %}
{% if plugin_slack %}{% include "./templates/slack_payload.conf" without context %}{% endif %}
